 directories produced from IDE tools
.idea/
.pylint.d/

# logging symlinks
latest_log_dir
latest_log_file
*.log

# files left my Design Compiler
**/extracted_model_constr.pt
**/TOP.mr
**/command.log
**/default.svf
**/filenames*log
**/pt_shell_command.log
**/top-verilog*
**/Synopsys*
**/crte*
**/.nfs*
**/ucli.key
**/verdi_config_file
lc_output.txt

# unecessary folders
**/__pycache__/
**/alib-52/
**/sim/
**/csrc/
**/work/
**/work_gate/
**/hdl/
**/gate/
**/reports/
**/logs/
**/allreports/
**/allrtl/
**/allrtls/
**/allnetlists/

# libraries / library interm objects
libs/*.so
libs/*.o
libs/asap7/7nm/libfiles/
tech_lib/
**/gate_simv.daidir/
**/rtl_simv.daidir/
**/gate_simv
**/rtl_simv
**/work_lib/
**/work_gate_lib/
synopsys_sim.setup

# circuits
circuits/*/*approx*
circuits/*/*.o
circuits/*/top
circuits/*/*.so
circuits/*/*ctypes*
circuits/*/*vcd*
circuits/*/*.c
circuits/*/*txt

# test intermediate files
test/**/*.sv

